:root {
  --headings-font-family: "Playfair Display", serif;
  --context-font-family: "Poppins", sans-serif;
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --accent-color: #6c63ff;
  --main-color: #232323;
  --muted-color: rgb(64 64 108);
}
main {
  padding: 100px 0px;
}
/* *************************************************** */
/* HEADER */
/* *************************************************** */
nav {
  padding: 20px 0;
  font-size: 18px;
}
nav .brand {
  font-size: 35px;
  color: black;
  font-family: var(--headings-font-family);
}
nav a {
  text-decoration: none;
  color: var(--muted-color);
  font-family: var(--context-font-family);

  transition: all 150ms ease-in-out;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
  line-height: 42px;
}
nav li.active a,
nav li a:hover {
  color: var(--secondary-color);
}
@media (max-width: 600px) {
  nav {
    font-size: 14px;
  }
  .brand {
    display: none;
  }
}

/* *************************************************** */
/* HERO */
/* *************************************************** */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font-family);
  font-weight: 700;
}
.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h2 {
  font-size: 40px;
  font-weight: 400;
}
.hero h1 {
  font-size: 80px;
}
.hero p {
  font-family: var(--context-font-family);
  line-height: 2;
  color: var(--muted-color);
}
.hero .btn-contact {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.intro {
  font-family: var(--headings-font-family);
  font-size: 30px;
  font-weight: 400;
  color: var(--muted-color);
}
/* *************************************************** */
/* SECTIONS */
/* *************************************************** */
.container p,
.tools {
  line-height: 1.7;
  font-size: 18px;
}
img {
  border-radius: 15px;
  padding: 40px;
  background-color: var(--primary-color);
}
.headings {
  font-family: var(--headings-font-family);
  font-size: 45px;
  font-weight: 700;
}
.tools span {
  padding: 4px 10px;
  background-color: #23232311;
  color: black;
  border-radius: 5px;
}
.btn-show-more {
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.btn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/* ****RESPONSIVENESS OF MAIN PAGE**** */

@media (max-width: 820px) {
  .hero h2 {
    font-size: 23px;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero p {
    font-size: 14px;
  }
  .headings {
    font-size: 32px;
  }
  .container {
    text-align: center;
  }
  .tools {
    font-size: 16px;
  }
}

@media (max-width: 415px) {
  span {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  .container p {
    font-size: 16px;
  }
}

/* *************************************************** */
/* CONTACT PAGE */
/* *************************************************** */
.contact-container {
  padding: 40px;
}
#subject {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  resize: vertical;
}
.inputs {
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 5px;
}
.submit-btn {
  color: var(--primary-color);
  font-weight: bold;
  padding: 5px 15px;
  background: var(--secondary-color);
  border: 2px solid var(--main-color);
}
.submit-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.contact-area {
  margin-bottom: 35px;
}
.contact-area p {
  font-size: 42px;
  color: var(--main-color);
}
.contact-area i {
  color: var(--accent-color);
  font-size: 20px;
  margin-inline: 5px;
}
.contact-area a {
  text-decoration: none;
}
.contact-area a span {
  font-size: 20px;
  color: var(--main-color);
}
.contact-area a span:hover {
  color: var(--muted-color);
}

/* ****RESPONSIVENESS OF CONTACT PAGE**** */

@media (max-width: 820px) {
  main {
    padding: 50px 20px;
  }
  .contact-container {
    padding: 0;
  }
  .contact-area p {
    font-size: 32px;
  }

  .contact-area a span {
    font-size: 16px;
  }
}
/* *************************************************** */
/* ABOUT PAGE */
/* *************************************************** */
.about-image img {
  width: 400px;
  border-radius: 25px;
  padding: 0;
}
.about-me p {
  color: #222525d7;
  font-size: 22px;
  font-family: var(--context-font-family);
}
.about-me p span {
  color: var(--accent-color);
}
@media (max-width: 820px) {
  .about-image img {
    width: 200px;
  }
  .about-me p {
    font-size: 16px;
  }
}

/* *************************************************** */
/* WORK PAGE */
/* *************************************************** */
.work-image img {
  border-radius: 25px;
  padding: 0;
}
.weatherapp p {
  color: #222525d7;
  font-size: 20px;
  font-family: var(--context-font-family);
}

/* *************************************************** */
/* FOOTER */
/* *************************************************** */
footer {
  font-family: var(--context-font-family);
  text-align: center;
  padding: 30px;
  background-color: var(--primary-color);
}
footer p {
  font-size: 34px;
  color: var(--muted-color);
}
footer a {
  text-decoration: none;
  color: var(--secondary-color);
}
footer a:hover {
  color: #4f48bf;
}
.email {
  font-size: 26px;
}

.social-media {
  font-size: 28px;
}
.social-media a {
  padding: 10px;
}
@media (max-width: 820px) {
  footer p {
    font-size: 18px;
  }
  .email {
    font-size: 16px;
  }
}
